.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: hsl(216, 12%, 8%);
}

.container {
    width: 340px;
    height: 340px;
    background-color: hsl(213, 19%, 18%);
    color: hsl(216, 12%, 54%);
    border-radius: 20px; 
    padding: 30px;
}

.logo {
    margin-bottom: 30px;
}

.text-container h1 {
    color: white;
    font-family: 'Overpass', sans-serif;
    font-size: 26px;
}

.text-container p {
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    line-height: 1.7;
}

.rating-container {
    display: flex;
    justify-content: space-between;
}

.circle-style {
    border-radius: 50%;
    background-color: hsl(213, 19%, 22%);
    color: hsl(216, 12%, 54%);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Overpass', sans-serif;
}

.circle.selected {
    background-color: hsl(217, 12%, 63%);
    color: white;
  }

.circle:hover {
    background-color: hsl(25, 97%, 53%);
    color: white;
    cursor: pointer;
}

button {
    background-color: hsl(25, 97%, 53%);
    color: white;
    border-radius: 40px;
    border: none;
    height: 45px;
    width: 100%;
    margin-top: 30px;
    letter-spacing: 3px;
}

button:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
    cursor: pointer;
}

.hidden {
    display: none;
}

#page2 {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.logo-thankYou {
    padding-top: 15px;
    padding-bottom: 25px;
}

#result {
    font-size: 15px;
    color: hsl(25, 97%, 53%);
    font-family: 'Overpass', sans-serif;
    background-color: hsl(213, 19%, 22%);
    border-radius: 20px;
    margin: auto;
    margin-bottom: 25px;
    padding: 6px 0;
    width: 190px;
}